.btn-group
	button.btn.btn-danger(type="button") Action
	button.btn.btn-danger.dropdown-toggle(type="button", data-toggle="dropdown")
		span.caret
		span.sr-only Toggle Dropdown
	ul.dropdown-menu(role="menu")
		li
			a(href="#") Action
		li
			a(href="#") Another action
		li
			a(href="#") Something else here
		li.divider
		li
			a(href="#") Separated link