.dropdown
	button#dropdownMenu1.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
		| Dropdown
		span.caret
	ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu1")
		li(role="presentation")
			a(role="menuitem", tabindex="-1", href="#") Action
		li(role="presentation")
			a(role="menuitem", tabindex="-1", href="#") Another action
		li(role="presentation")
			a(role="menuitem", tabindex="-1", href="#") Something else here
		li(role="presentation")
			a(role="menuitem", tabindex="-1", href="#") Separated link
