doctype
html
  head
    link(rel="stylesheet" href="/css/main.css")
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/knockout/Content/Scripts/knockout-3.1.0.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/js/main.js")
  body
    != yield