doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
    link(href='assets/css/main.css', rel='stylesheet')
    //if lt IE 9
      script(src='libraries/html5shiv-3.7.2.min.js')
      script(src='libraries/respond-1.4.2.min.js')
  body
    
    != partial('_header')
    .container
      != yield
    != partial('_footer')
    
    script(src='libraries/jquery-1.12.3.min.js')
    script(src='libraries/bootstrap-3.3.6/js/bootstrap.min.js')
    script(src='assets/js/main.js')
