h1 Protolon
p.lead A Harp boilerplate for creating prototypes
p
  a.btn.btn-default(href='https://github.com/nformux/protolon') View on GitHub
  span &nbsp;
  a.btn.btn-default(href='https://github.com/nformux/protolon/zipball/master') Download .zip
br

h3 Downloading pre-built partials
p Download the partials as a <a href='https://github.com/nformux/protolon-partials/zipball/master'>zip file</a> or view the <a href='https://github.com/nformux/protolon-partials'>GitHub Repository</a>
br
  
h3 Further Reading
ul
  li
    a(href='http://harpjs.com/docs/') Harp - Static Web Server
  li
    a(href='http://jade-lang.com/reference/') Jade - Templating Engine
