h1 Protolon
p.lead A Harp boilerplate for creating prototypes
p
  a.btn.btn-default(href='https://github.com/nformux/protolon') View on GitHub
  span &nbsp;
  a.btn.btn-default(href='https://github.com/nformux/protolon/zipball/master') Download .zip
br

h3 Downloading pre-built partials
p Download the partials as a <a href='https://github.com/nformux/protolon-partials/zipball/master'>zip file</a> or view the <a href='https://github.com/nformux/protolon-partials'>GitHub Repository</a>
br
  
h3 Publishing 

ol
  li 
    span Run Harp compile
  
    pre harp compile
    
  li
    span Navigate to published files
    
    pre 
  
h3 Example Prototypes

ul
  li
    a(href='http://clients.nform.ca/prototype-examples/atco-dportal.zip') ATCO DPortal 
  li
    a(href='http://clients.nform.ca/prototype-examples/bc-societies.zip') BC Societies 
  li
    a(href='http://clients.nform.ca/prototype-examples/enbridge-ia.zip') Enbridge 
  li
    a(href='http://clients.nform.ca/prototype-examples/epcor-prod.zip') Epcor 
  li
    a(href='http://clients.nform.ca/prototype-examples/nait-intranet.zip') NAIT Intranet 
  
h3 Further Reading
ul
  li
    a(href='http://harpjs.com/docs/') Harp - Static Web Server
  li
    a(href='http://jade-lang.com/reference/') Jade - Templating Engine
