.container
  h1= name
  p 
    span The current production server URL is 
    strong= server + '. '
    span Please change this in the harp.json file.
  p Learn more about the prototyping process by reading the 
    a(href='http://1drv.ms/1p0jReE') nForm Prototyping Guidelines
    | .
  !=partial("_bootstrap-components/breadcrumb")