h1 Protolon
p.lead A Harp boilerplate for creating prototypes
br
  
h3 Downloading pre-built partials
p Download the partials as a <a href='#'>zip file</a> or view the <a href='#'>GitHub Repository</a>
br
  
h3 Further Reading
ul
  li
    a(href='http://harpjs.com/docs/') Harp - Static Web Server
  li
    a(href='http://jade-lang.com/reference/') Jade - Templating Engine
